@import './../../index.scss';

.WashingPointComponent{
    width: 100%;
    .washingContainer{
        display: grid ;
        grid-template-columns: 66% 33%;
        width: 100%;
        overflow:hidden;
        .washingleftelement{
            align-self: stretch;
            display: grid;
            grid-template-columns: auto auto;
            overflow: hidden;
            padding: 20px 0 ; 
            width: 100%;
            .washingpoint{
                display: flex;
                text-align: center;
                margin: 5px;
                justify-content:center;
                border: 1px solid transparent;
                .mapicon{
                    text-align: center;
                    width:10%;
                    font-size: $smalltext;
                    color:$mainredcolor;
                }
                .details{
                    text-align: left;
                    width:80%;
                    color:$graycolor;
                    font-size: 15px;
                    p:nth-child(1){ color: $mainblackcolor; font-size:$smalltext; font-weight:25px;}  
                }
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                }
            }
            @media screen and (max-width:$mediumscreen) {
                grid-template-columns: auto;
            }
            

        }
        .washingrightelement{
            align-self: stretch;
            width: 100%;
            overflow: hidden;
        }

    }
}