///npm install node-sass --save-dev
@import './../../index.scss' ; 

.firstnavcontainer
{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto ; 
    text-align: center;
    grid-gap:20px ;
    width: 100% ;
    color: $mainblackcolor;
    padding: 10px; 
    border-top: 1px solid $mainredcolor;
    background-color: $WhiteColor;
   
    .ele2 , .ele3 , .ele4{
         @extend .Fnavbarele ; 
         @media screen and (max-width: $mediumscreen) 
          {
            display: none ; 
          }
    }
    
    
    
}