@import './../../index.scss' ; 

.MainButton{
    
    .appoint{
        border:1px solid transparent ;
        padding: 5px 25px;
        color: $mainblackcolor;
        border-radius: 30px;
        background:linear-gradient(to right,  $mainredcolor 50% , $WhiteColor  50%);
        background-size: 210% 110%;
        background-position:right bottom;
        transition:all .4s ease;
        &:hover{  background-position:left bottom;  color:$WhiteColor;  }
        
    }

}