@import'./../../index.scss' ;
.carWashRequest{
    background-color: $mainredcolor;
    color: $WhiteColor;
    width: 100%;
    height: 100%;
    padding: 20px;
    .title{
        p{
            font-size: $verysmalltext;
        }
    }
    .formele{
        position: relative;
        border: 1px solid transparent;
        .inputfield{
            position: relative;
            width: 100%;
            height:45px;
            padding:5px ;
            margin: 15px 0;
            background-color: transparent;
            border:1px solid transparent;
            border-bottom: 1px solid $WhiteColor;
            outline-color: transparent;
            border-radius:5px;
            color: $WhiteColor;
            &:focus-within{
                outline: 0px solid transparent;
                color: $WhiteColor;
            }     
        }
        .label{
           position: absolute; 
            color: $WhiteColor;
            left: 5px;
            top :15px;    
        }
        .validateText{
            color:$mainblackcolor;
        }

        .inputfield:focus-within ~ .label ,
        .inputfield:not(:focus):valid ~ .label{
            top:0px;
        }
        
       .textarea{
           height: 150px;
           resize: none;
       }
       
    }

    
}