@import './../../index.scss' ; 

.BarComponent{
    background-color: $mainblackcolor;
    color: $WhiteColor;
    display: none;
    grid-template-columns: auto auto auto ;
    height: 50px;
    align-content: center;
    padding:0px 5px;
    font-size:25px;
    .MenuSide{
        grid-column: 1/3;
        text-align: left;
        p{
            margin: 0px;
        }
    }
    .BarSide{
        text-align: right;
        svg
        {
            border: 1px solid $WhiteColor;
            padding: 3px 7px;
            font-size: 40px;
            border-radius: 2px;
            &:hover{
                color: $mainredcolor;
                cursor: pointer;
                border-color:$mainredcolor;
            }
        }
    }
        

    @media screen and (max-width: $mediumscreen) {display: grid;}


}