@import './../../index.scss' ; 

.BarComponent{
    background-color: $mainblackcolor;
    color: white;
    display: none;
    grid-template-columns: auto auto auto ;
    height: 50px;
    align-content: center;
    justify-content: space-around;
    grid-gap: 20px;
    padding:0px 20px;
    font-size:35px;
    .MenuSide{
        grid-column: 1/3;
        text-align: left;
        p{
            margin: 0px;
        }
    }
    .BarSide{
        text-align: right;
        &:hover{
            color: $mainredcolor;
            cursor: pointer;
        }
    }

    @media screen and (max-width: $mediumscreen) {display: grid;}


}