
@import './../../index.scss';

.modalContainer{
    position: fixed;
    top:0 ; 
    z-index: 50;
    overflow-y:hidden;
    width: 100%;;
    height:100%;
    display: grid;
    justify-content:space-around;
    background-color: rgba(transparent , .2 );
    .modalMessage{
        
        align-self: center;
        display: grid ;
        justify-content:space-around;
        grid-template-columns: auto;
        align-content:space-around;
        border: 1px solid $WhiteColor;
        border-radius:5px;
        background-color:$WhiteColor;
        width: 400px;
        height:250px;
        .modalElement{
             p{width:350px; padding: 10px 0 ; color:$mainblackcolor; font-size:$verysmalltext;}
            .header{ text-align:  left ;}
            .message{ text-align: center;}
            .buttons{
                padding:10px 0;
                 display: grid; 
                 justify-content: space-around;
                 grid-template-columns:  auto ;
                }
        }
    }
}