
$mainredcolor : #E81C2E ; 
$mainblackcolor : #202C45 ; 
$WhiteColor : White ; 
$graycolor:gray;
$lightgray :lightgray;
$smallscreen : 600px ; 
$mediumscreen : 820px ; 
$largescreen:1050px;
$largetext: 50px ; 
$mediumtext:40px ;
$smalltext:30px ;
$verysmalltext:20px ;

 span{
    color:gray;
    font-size: small;
}

body
{
    height: 100%;
    font-family:cursive ;
}

.Fnavbarele
{
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    .imagepart{
        background-color: $mainblackcolor;
        border: 0px solid transparent;
        border-radius: 50%;
        width: 50px;height:50px;
        margin-right:5px;
        img{
            margin: 15px;
            width: 18px ; height:18px ;
            float: right;
        }
    }
    .textpart{
        text-align: start;
        line-height: 10px;
        p{font-weight: bolder; font-size: 20px;}
    }
    

}


@mixin MainButton ($back:$WhiteColor ,$font:$mainblackcolor ,$hoverback:$mainredcolor , $hoverfont:$WhiteColor) {
    
    .appoint{
        
        border:1px solid transparent ;
        padding: 10px 25px;
        color: $mainblackcolor;
        border-radius: 30px;
        background:linear-gradient(to right,  $hoverback 50% , $back 50%);
        background-size: 210% 110%;
        background-position:right bottom;
        transition:all .4s ease;
        &:hover{  background-position:left bottom;  color:$WhiteColor;  }
        
    }

}

