
$mainredcolor : #E81C2E ; 
$mainblackcolor : #202C45 ; 
$WhiteColor : White ; 
$graycolor:gray;
$lightgray :lightgray;
$smallscreen : 600px ; 
$mediumscreen : 820px ; 
$largescreen:1050px;
$largetext: 50px ; 
$mediumtext:40px ;
$smalltext:30px ;
$normaltext:16px ; 
$verysmalltext:20px ;
$leftalign :left ; 

 span{
    color:gray;
    font-size: small;
}

body
{
    height: 100%;
    font-family:serif ;
}

.Fnavbarele
{
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    .imagepart{
        background-color: $mainblackcolor;
        border: 0px solid transparent;
        border-radius: 50%;
        width: 50px;height:50px;
        margin-right:5px;
        svg{
            margin: 15px;
            width: 18px ; height:18px ;
            color: $WhiteColor;
            text-align: center;
            float: right;
        }
    }
    .textpart{
        text-align: start;
        line-height: 10px;
        p{font-weight: bolder; font-size: 20px;}
    }
    

}


@mixin MainButton ($back:$WhiteColor ,$font:$mainblackcolor ,$hoverback:$mainredcolor , $hoverfont:$WhiteColor) {
    
    .appoint{
        
        border:1px solid transparent ;
        padding: 10px 25px;
        color: $mainblackcolor;
        border-radius: 30px;
        background:linear-gradient(to right,  $hoverback 50% , $back 50%);
        background-size: 210% 110%;
        background-position:right bottom;
        transition:all .4s ease;
        &:hover{  background-position:left bottom;  color:$WhiteColor;  }
        
    }

}

@mixin basiclink {
    color:$WhiteColor;
    text-decoration: none ;  
    &:hover{
        color: $mainredcolor;
    }
}


@mixin DropdownMenu($display:none) {
    background-color: $WhiteColor;
            border-width: 1px;
            border-radius: 5px ;
            width: 180px;
            position: absolute;
            left: 0px;
            z-index:  11;;
            margin-top:0px;
            display:$display;
}
@mixin  DropDownMenuLinks {
    padding: 5px 10px ;
    border-radius: 5px ;
    text-align: left; 
    display:block;
    text-decoration:none;
    color:$mainblackcolor;
    background-color:transparent;
    border: 0px;
    &:hover{
        color: $mainredcolor;
        background-color:#efefef;
    }
}
@mixin  DropMenuMEdiumSize {
    margin-top: 5px;
    z-index: 11;
}

 @mixin loginReg_form{
    display: grid;
    grid-template-columns: 33% ;
    justify-content: space-around;
    padding: 45px 10px 45px 10px;
    text-align:$leftalign;
    
    .form{
        border-radius: 5px;
        padding: 40px 20px;
        background-color:$WhiteColor;
        border:2px solid $lightgray;

    }
    @media screen and (max-width :$mediumscreen ) {
        grid-template-columns: 100% ;
    }
    
}