@import './../../index.scss' ; 


.Spinner{
    color: $mainredcolor;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto   ;
    justify-content: center;
    align-content: center;
    padding: 20px;
   
    .icon{
        margin:0 20px ;
        align-self: center;
        text-align: center;
    }


}