@import './../../index.scss' ; 

.dropdowncomponentcontainer
{
    @include DropdownMenu ; 
    
    /*
    background-color: $WhiteColor;
    border-width: 1px;
    border-radius: 5px ;
    width: 180px;
    position: absolute;
    left: 0px;
    z-index:  11;;
    margin-top: 10px;
    */
    .DropDownlink{
        @include DropDownMenuLinks ; 

        /*
        padding: 5px 10px ;
        border-radius: 5px ;
        text-align: left; 
        display:block;
        text-decoration:none;
        color:$mainblackcolor;
        
        &:hover{
            color: $mainredcolor;
            background-color:#efefef;
        }
        */
    }
    @media screen and (max-width: $mediumscreen) 
    {
        @include DropMenuMEdiumSize ; 

      /*  
      margin-top: 5px;
        z-index: 11;
     */
    }


   
}