@import './../../index.scss' ; 

.dropdowncomponentcontainer
{
    background-color: $WhiteColor;
    width: 180px;
    position: absolute;
    margin-top: 12px;
    .DropDownlink{
        padding: 5px 10px ;
        text-align: left; 
        display:block;
        text-decoration:none;
        color:$mainblackcolor;
        &:hover{
            color: $mainredcolor;
            background-color:#efefef;
        }
    }

   
}