
@import './../../index.scss' ; 

.MainNavcomponent{
    width: 100%; 
    background-color: $mainblackcolor;
    display:inline-grid  ;
    grid-template-columns: 65% auto auto;
    grid-template-rows: auto;
    position: relative;
    padding: 0 10px;
    @media screen and (max-width: $mediumscreen) {
        grid-template-columns: 250px;
        grid-template-rows: repeat(12, 1fr);
        width: 250px; 
        position: fixed;
        z-index:10;
        display: none;
        text-align: left;
        flex-wrap: nowrap;    
        }
        .menunavbar{
        align-self: center;
        text-align: center;
        display:inline-grid;
        grid-template-columns:auto auto auto auto auto auto auto ;
        position:relative ; 
        @media screen and (max-width: $mediumscreen) 
          {
            grid-template-columns:250px ;
            width:250px;
            align-self:flex-start ; 
            display: grid;
            text-align: left;
            grid-gap: 20px;
            grid-template-columns: auto  ;
            padding :20px 10px ;
          }
        .menunavbarlink{
            position: relative;
            text-decoration:none;
            color:white;
            padding: 15px 0px ;
            .icon{ margin-left: 5px;}
            &:hover{color: $mainredcolor;}
        }
        .activelink{ color: $mainredcolor; }
        svg{
            @include basiclink ; 
            margin-left: 10px;
        }
    }
    .takeappointment{
        //border: 1px solid yellow;
        padding :20px 0;
        align-self: center;
        @media screen and (max-width: $mediumscreen) {
            width: 100%;
            align-self: flex-start;
        }
        

    }

    

}

