
@import './../../index.scss' ; 

.MainNavcomponent{
    width: 100%; 
    background-color: $mainblackcolor;
    display:inline-grid  ;
    grid-template-columns: auto auto auto auto auto  ;
    grid-gap : 20px ; 
    
    @media screen and (max-width: $mediumscreen) {
        position: fixed;
        z-index:10;
        display: none;
        text-align: left;
        grid-template-columns :250px   ;
        width: 250px;
        padding :20px 10px ;
        
    }
    .menunavbar{
        grid-column: 1/4 ;
        align-self: center;
        text-align: center;
        display:inline-grid;
        grid-template-columns:auto auto auto auto auto auto auto ;
        @media screen and (max-width: $mediumscreen) 
          {
            align-self:flex-start ; 
            display: grid;
            grid-column:auto;
            text-align: left;
            grid-gap: 20px;
            grid-template-columns: auto  ;
            //padding :20px 10px ;
          }
        .menunavbarlink{
            position: relative;
            //z-index: 1;
            text-decoration:none;
            color:white;
            padding: 15px 0px ;
            .icon{ margin-left: 5px;}
            &:hover{color: $mainredcolor;}
        }
        .activelink{ color: $mainredcolor; }
    }
    .takeappointment{
        align-self: center;
        text-align: center;
        @media screen and (max-width: $mediumscreen) {
            align-self: flex-start;
            text-align:left;
        }
    }
    

}

